<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>


    <div class="row">
        <div class="col s4 ">
          <div class="card">
            <div class="card-image">
              <div class="file-field input-field div-floating-button valign-wrapper">
                <a class="btn-floating teal">
                      <input id="user_image" name="user[image]" type="file">
                      <i class="material-icons">camera_alt</i>
                </a>      
              </div>    
              <%= image_tag @user.image.url(:large) %>
              <span class="card-title">
              </span>
            </div>
            <div class="card-content">
              <p><%= @user.name%> <%= @user.last_name%></p>
            </div>
            <div class="card-action card-a" >
              <%= @user.email %><br> Exp: <%= @user.exp %><br> Badge: <%= @user.badge.name %><br><%= image_tag (@user.badge.image) %>
            </div>
          </div>
        </div>
    
   
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    
      <div class="col s8">
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :name, for:"name"%>
            <%= f.text_field :name, type:"text", id:"name", autofocus: true, class:"validate"%>
          </div>
          <div class="input-field col s6">
            <%= f.label :last_name, for:"last_name"%>
            <%= f.text_field :last_name, type:"text", id:"last_name", class:"validate"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email, for:"email" %>
            <%= f.email_field :email, type:"text", id:"email" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :password, for:"password"%>
            <%= f.password_field :password, autocomplete: "off", type:"password" %>
            <i>(leave blank if you don't want to change it)</i>
          </div>
          <div class="input-field col s6">
            <%= f.label :password_confirmation, for:"password_confirmation"%>
            <%= f.password_field :password_confirmation, autocomplete: "off", type:"password" %>
          </div>
        </div>        
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :current_password , for:"current_password"%> 
            <%= f.password_field :current_password, autocomplete: "off", type:"password" %>
            <i>(we need your current password to confirm your changes)</i>
          </div>
        </div>
        <div class="col s6">
            <div class="actions">
              <%= f.submit "Update", class:"btn"%>
            </div>
          </div>
      </div>  
    </div>
  <% end %>


  <div class="row">
    <div class="col s6" align="Left">
     <%= link_to "Back", :back, class:"waves-effect waves-teal btn-flat" %>
    </div>
    <div class="col s6" align="Right">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn-flat" %>
    </div>
  </div>
</div>


