<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class=" col offset-l1">
            <strong><%= flash[:alert] %></strong>
        </div><br>


    <div class="row">
        <div class="col l4 s12 ">
          <div class="card">
            <div class="card-image">
              <div class="file-field input-field div-floating-button valign-wrapper">
                <a class="btn-floating teal">
                      <%= f.file_field :image, id:'file', accept:'image/*'%>
                      <i class="material-icons">camera_alt</i>
                </a>      
              </div>    
              <%= image_tag @user.image.url(:large) %>
              <span class="card-title">
              </span>
            </div>
            <div class="card-content">
              <p><%= @user.name%> <%= @user.last_name%></p>
            </div>
            <div class="card-action card-a" >
              <%= @user.email %> <br>
              <div class="row valign-wrapper">
                <div class="col l9">
                  <%= @user.badge.name %>
                </div>
                <div class="col l3">
                  <img alt="<%= @user.badge.name %>" src="<%= @user.badge.image%>" class="responsive-img">  
                </div>  
            </div>
            </div>
          </div>
        </div>
    
   
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    
      <div class="col s12 l8">
        <div class="row">
          <div class="input-field col s6 l6">
            <%= f.label :name, for:"name"%>
            <%= f.text_field :name, type:"text", id:"name", autofocus: true, class:"validate", required: true%>
          </div>
          <div class="input-field col s6 l6">
            <%= f.label :last_name, for:"last_name"%>
            <%= f.text_field :last_name, type:"text", id:"last_name", class:"validate", required:true%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l12">
            <%= f.label :email, for:"email" %>
            <%= f.email_field :email, type:"text", id:"email", disabled:true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6">
            <%= f.label :password, for:"password"%>
            <%= f.password_field :password, autocomplete: "off", type:"password" %>
          </div>
          <div class="input-field col s12 l6">
            <%= f.label :password_confirmation, for:"password_confirmation"%>
            <%= f.password_field :password_confirmation, autocomplete: "off", type:"password" %>
          </div>
          <center><i>(leave blank if you don't want to change it)</i></center>
        </div>        
        <!--<div class="row">
          <div class="input-field col s12">
        <div class="row">
          <div class="input-field col s12 l12">
            <%= f.label :current_password , for:"current_password"%> 
            <%= f.password_field :current_password, autocomplete: "off", type:"password", required:true %>
            <i>(we need your current password to confirm your changes)</i>
          </div>
        </div>-->
        <div class="col s6">
        </div>
        <div class="col s12 l6 offset-s3">
            <div class="actions">
              <%= f.submit "Update", class:"btn"%>
            </div>
          </div>
      </div>  
    </div>
  <% end %>


  <div class="row">
    <div class="col s6 l6" align="Left">
     <%= link_to "Back", :back, class:"waves-effect waves-teal btn-flat" %>
    </div>
    <div class="col s6 l6" align="Right">
      <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn-flat" %>
    </div>
  </div>
</div>


<script>
    $("#file").change(function () {
        document.forms[1].submit();
    });
</script>