<div class="row">


<%= form_for(resource, as: resource_name, class: "col s12", name: "new_user",url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  <div class="row">
    <div class="col s6 offset-s3">
      <h2>Sign up</h2>

      <div id="new_usr" class="card first-input">
      </br>
        <div class="col s4 offset-s4">
          <%= link_to image_tag('/sign-in-with-facebook.png'), user_omniauth_authorize_path(:facebook) %>
        </div>  
        
        <div class="col s6 offset-s3">
          <hr>
        </div>  

        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">account_circle</i>
          <!--<%= f.label :name, for:"firstName", class:"active" %> -->
          <%= f.text_field :name , class:"validate", type:"text", id:"firstName", autofocus: false, required: true, placeholder: "Name"%>
        </div>

        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">account_circle</i>
          
          <%= f.text_field :last_name, class:"validate", type:"text", id:"lastName",required: true, placeholder: "Last Name" %>
        </div>
        
        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">email</i>
          <!--<%= f.label :email, class:"", for:"theMail" %> -->
          <%= f.email_field :email, class:"validate", type:"email", id:"theMail", required: true, placeholder: "Email" %>
          
        </div>  
        
        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">vpn_key</i>
          <%= f.password_field :password, id:"passwd", class:"validate", pattern:".{8,72}$", required: true, placeholder: "Password" %>
          <label for="passwd" data-error="8 caracteres mínimo" data-success="¡Excelente!"></label>   
        </div>


        <%= f.hidden_field :badge_id, value:"1" %>
        
        <div class="row"> 
          <div class="col s4 offset-s8">
            <div class="">
              <button type="submit" class="btn btn-large">Sign up</button>
            </div>
          </div>
        </div> 
      </div>
      </div>

    </div>
  </div>
<% end %>
 <script>
          $(function(){
              $("#new_user").validate({
                debug: true,
                rules: {
                  "user[email]": { required: true, email: true},
                  "user[name]": { required: true, minlength: 2},
                  "user[last_name]": { required: true, minlength: 2 }
                },
               });
             });
 </script>
 <script type="text/javascript">
  function formsubmit() {
    document.getElementById("new_user").submit();
  }
 </script>
