<div class="row">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, class: "col s12", url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">

    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <%= f.label :name, for:"firstName"%>
      <%= f.text_field :name , class:"validate", type:"text", id:"firstName", autofocus: true%>
    </div>
    <br>
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <%= f.label :last_name, class:"validate", for:"lastName" %>
      <%= f.text_field :last_name, class:"", type:"text", id:"lastName" %>
    </div>
    <br>
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <%= f.label :email, class:"validate", for:"theMail" %>
      <%= f.email_field :email, class:"", type:"text", id:"theMail" %>
    </div>  
    <br>
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.label :password, class:"validate", for:"passwd" %>
      <% if @minimum_password_length %>
      <em style="display: none;">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class:"", type:"password", id:"passwd", pattern:"^.{8,72}$" %>
      <span class="">8 Characters Minimum</span>
    </div>
    <br>
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.label :password_confirmation, class:"validate" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"", type:"password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
    </div>
    </div>
  </div>
<% end %>

<!--<%= render "devise/shared/links" %> -->
