
<div class="mdl-layout__content">
<!-- Main post -->
<div class="mdl-grid">
  <div class="mdl-cell--1-col"></div>
  <div class="mdl-cell--9-col">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">
          <%= @post.title %><br>
        </h1>
      </div>
      <div class="mdl-card_supporting-text">
        <h4 class="mdl-card__title-text"> 
          <%= @post.post_type %>
        </h4>
        <%= @post.content %>
      </div>
      <%= @post.user.email %><br>

    </div>
  </div>
  <div class="mdl-cell--2-col"></div>
</div>

<!-- Comments -->
<div class="mdl-grid">
  <div class="mdl-cell--2-col"></div>
  <div class="mdl-cell--8-col">
    <div id="comment-card" class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--3dp">
    <% @comment.each do |comment| %> 
      <div class="mdl-card_supporting-text">
        <%= comment.content %> 
      </div>
      <div class="mdl-card__actions mdl-card--border">
      <%= comment.user.email %>
    </div> 
    <% end %>

    </div>
    <div class="mdl-cell--2-col"></div>
  </div>
</div>

  <!-- Reply form -->
  <div class="mdl-grid">
    <div class="mdl-cell--2-col"></div>
    <div class="mdl-cell--8-col">
      <%= form_for :comments, url: comments_path do |f| %>
          <strong><%= f.label "Responder:" %></strong><br>
          <div class="mdl-textfield mdl-js-textfield" id="comments">
            <%= f.text_area :content, class:"mdl-textfield__input", type:"text", rows:"4" %>
          </div> 
          <%= f.hidden_field :post_id, value: @post.id  %>
          <%= f.hidden_field :user_id, value: @user %>
          <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      <% end %>
    </div>
    <div class="mdl-cell--2-col"></div>
  </div>
</div>
</div>

