<div class="row">
  <div class="col s12 m9 l10">


<div class="">
<!-- Main post -->
  <input type="hidden" id="reload" value="<%= request.original_url%>">
  <!-- Page Layout here -->
    <div class="row"> 

      
        <div class="col hide-on-small-only m3 l2">
          <div class="tabs-wrapper pinned" style="top: 100px;">
            <%= render partial: 'posts/menusidebar' %>
          </div>
        </div>
      <div class="col s12  l9 offset-l3">
        
        <div class="card small">
          <div class="card-image">
            <img src="http://www.ricoh-imaging.co.jp/english/r_dc/caplio/r7/img/sample_04.jpg">
            <span class="card-title black-text"><%= @post.title %></span>
          </div>
          
          <div class="card-content">
            <p><%= @post.content %></p>
          </div>
              
          <div class="card-action card-a">
            <div class="right valign-wrapper div-button-comment" >
              <!-- Modal Trigger -->
              <a class="btn-floating btn-large waves-effect waves-light grey modal-trigger button-comment" href="#modal1"><i class="material-icons ">comment</i></a>
            </div>
            <%= @post.user.email   %>  |
            <%= @post.post_type %> |
            <%= @post.topic.name %>
             </a>
          </div>

        </div>

      </div> 

      <div  class="row">

        <div class="col s12 l12 offset-l3">
        <!-- Card page content  -->

        <%if @post.post_type == "Question"%>

        Most Voted Comment

        <% @most_voted.each do |comment| %>
        <div class="row">
        <%if @post.user.id == comment.user.id%>

            <div class="col s12 l7 m7">
          <%else%>
            <div class="col s12   l7  offset-l2">
          <%end%>    
              <div class="card-panel white lighten-5 z-depth-1 hoverable">


                <div class="row wrapper">
                <div class="card-content">
                  <div class="col s5 l2">
                    <%= image_tag comment.user.image.url(:large) ,class:"circle responsive-img" %>
                  </div>

                  <div class="col s7 l10">
                    <span class="black-text">
                      <strong><%= comment.user.name %></strong><br/>
                      <%= comment.content %></br>
                      
                    </span>
                    <br/>
                    
                      
                  </div>
                </div>
                  <div class="card-action card-a ">
                      <span class="gray-text right valign-wrapper">
                      <%if @post.post_type == "Question"%>
                      <% if current_user.voted_on?(comment) %>
                      <%= link_to '<i class="like-icon-teal material-icons" id="like">done</i>'.html_safe,{:controller => "comments", :action => "vote", :comment_id => comment.id, :most_voted => 1},:method => 'post', :remote=>true %>
                      <% else %>
                      <%= link_to '<i class="like-icon-black material-icons " id="like">done</i>'.html_safe,{:controller => "comments", :action => "vote", :comment_id => comment.id, :most_voted => 1},:method => 'post',:remote=>true %>
                      <% end %>
                        <label id="CountLabel"><%= comment.votes_for %></label> </br>
                      <%end%>
                      </span>
                    <%= comment.user.email %> | <%= comment.created_at.strftime("%m/%d/%Y") %>
                  </div>  
                </div>

              </div>
            </div>
          </div>
        <%end%>
        <%end%>
          Comments
           <% @comment.each do |comment| %> 
       <div class="row">
        <%if @post.user.id == comment.user.id%>

            <div class="col s12 l7">
          <%else%>
            <div class="col s12 l7  offset-l2">
          <%end%>    
              <div class="card-panel grey lighten-5 z-depth-1 hoverable">


                <div class="row wrapper">
                <div class="card-content">
                  <div class="col s5 l2">
                    <%= image_tag comment.user.image.url(:large) ,class:"circle responsive-img" %>
                  </div>

                  <div class="col s7 l10">
                    <span class="black-text">
                      <strong><%= comment.user.name %></strong><br/><br/>
                      <%= comment.content %></br><br/>
                    </span>
                    <br/>
                </div>   
                </div>

                <div class="card-action card-a" >
                      <span class="gray-text right valign-wrapper" >
                        <%if @post.post_type == "Question"%>
                          <% if current_user.voted_on?(comment) %>
                            <a href="/comments/votes?comment_id=<%=comment.id%>&amp;most_voted=0" data-method="post" data-remote="true" rel="nofollow"><i class="material-icons like-icon-teal" id="<%=comment.id%>">done</i></a>
                          <% else %>
                            <a href="/comments/votes?comment_id=<%=comment.id%>&amp;most_voted=0" data-method="post" data-remote="true" rel="nofollow"><i class="material-icons like-icon-black" id="<%=comment.id%>">done</i></a>
                          <% end %>
                          <label id="commentcount<%=comment.id%>"><%= comment.votes_for %></label> </br>
                        <%end%>
                      </span>  
                    <%= comment.user.email %> | <%= comment.created_at.strftime("%m/%d/%Y") %>
                </div>
                

              </div>
            </div>
          </div>
        <%end%>
        </div>


      </div>  

    </div>


    <!-- Modal Content --> 
    <div id="modal1" class="modal">
      <%= form_for :comments, url: comments_path do |f| %>
        <div class="modal-content">          
          <div class="input-field ">
            <label for="content">Comment</label>
            <%= f.text_area :content, class:"materialize-textarea", type:"text", rows:"1", id:"content" %>
            <%= f.hidden_field :post_id, value: @post.id  %>
            <%= f.hidden_field :user_id, value: @user %>
            
               
          </div>
        </div>
        <div class="modal-footer">  
          <%= f.submit class:" modal-action modal-close btn" %>
        </div>
      <% end %> 
    </div>
              
</div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    
    $('.modal-trigger').leanModal();
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });   
</script>    


<!-- 
<script type="text/javascript">
function x(){
  var ab1 = $('button[name=comment]:focus').val();
  $.post("/comments/votes/",
    {
        comment_id: ab1
    });
}


</script>  
 -->

