
<strong>
<center>
  <h4>
    <!--<%= @post.topic %><br> -->  
    <%= @post.post_type %><br>
  </h4>

  <%= @post.user.email %><br>
  
  <h2>
    <%= @post.title %><br>
  </h2>
  <p>
    <%= @post.content %> <br>
  </p>
</strong>


<strong>Comments</strong>
<table width="600">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>

    </tr>
  </thead>

  <tbody>
  <% @comment.each do |comment| %> 
    <tr align = "center">      
      <td> <%= comment.user.email %> </td>
      <td> <%= comment.content %> </td>
    </tr>
  <% end %>
  </tbody>
</table> 

<%= form_for :comments, url: comments_path do |f| %>

  <p>
    <%= f.label "Add a comment:" %><br>
    <div class="mdl-textfield mdl-js-textfield">
      <%= f.text_area :content, class:"mdl-textfield__input", type:"text", rows:"4" %>
    </div> 
    <%= f.hidden_field :post_id, value: @post.id  %>
    <%= f.hidden_field :user_id, value: @user %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</center>
