<div class="row">
  <div class="col s12 m9 l10">


<div class="">
<!-- Main post -->
  <input type="hidden" id="reload" value="<%= request.original_url%>">
  <!-- Page Layout here -->
    <div class="row"> 

      <div class="col s9 offset-s1">
        
        <div class="card small">
          <div class="card-image">
            <img src="http://www.ricoh-imaging.co.jp/english/r_dc/caplio/r7/img/sample_04.jpg">
            <span class="card-title"><%= @post.title %></span>
          </div>
          
          <div class="card-content">
            <p><%= @post.content %></p>
          </div>
              
          <div class="card-action card-a">
            <%= @post.user.email   %>  |
            <%= @post.post_type %>
          </div>
        </div>

      </div>  

      <div class="col s3">
        <!-- Lateral panel -->

      </div>

      <div  class="row">

        <div class="col s12 offset-s3">
        <!-- Card page content  -->

          <div class="refresh"><%= render partial: 'comments' %></div>
        </div>

        <div class="col offset-s10">
          <div class="toc-wrapper pinned" style="bottom: 100px;">
              <!-- Modal Trigger -->
             <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1"><i class="material-icons">edit</i></a>
          </div>
        </div> 

      </div>  

    </div>


    <!-- Modal Content --> 
    <div id="modal1" class="modal">
      <%= form_for :comments, url: comments_path do |f| %>
        <div class="modal-content">          
          <div class="input-field ">
            <label for="content">Comment</label>
            <%= f.text_area :content, class:"materialize-textarea", type:"text", rows:"1", id:"content" %>
            <%= f.hidden_field :post_id, value: @post.id  %>
            <%= f.hidden_field :user_id, value: @user %>
            
               
          </div>
        </div>
        <div class="modal-footer">  
          <%= f.submit class:" modal-action modal-close btn" %>
        </div>
      <% end %> 
    </div>
              
</div>
  </div>
  <center>
  <div class="col hide-on-small-only m3 l2">
      <div class="tabs-wrapper pinned" style="top: 100px;">
        <a class="waves-effect waves-light btn" href="/posts/new"><i class="material-icons left">edit</i>New Post</a>
        <br>
        <br>
        <%= link_to "Questions", posts_path %> <br><br>
        <%= link_to "Discussions", posts_path %>
      </div>
  </div>
  </center>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    
    $('.modal-trigger').leanModal();
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });   
</script>    

<script type="text/javascript">
function x(){
  var ab1 = $('button[name=comment]:focus').val();
  $.post("/comments/votes/",
    {
        comment_id: ab1,
        post_id: "<%= @post.id%>"
    });
}


</script>  


