
    <div class="col s12  l12 offset-l1">

      <div class="card-panel grey lighten-5 z-depth-1 hoverable">

        <div class="row wrapper">

          <div class="col s3 l2">
              <%= image_tag conversation.originator.image.url(:med),class:"circle img-responsive" %>
          </div>

          <div class="col s7 l10">
              <span class="black-text">
                <font size = "4"><i><strong>
                <%= conversation.subject %></strong><br/></i></font>
                <%= truncate conversation.messages.last.sender.name %>:
                <%= truncate conversation.messages.last.body, length: 145 %></br>
              </span>
              <br/>
          </div>
        </div>

        <div class="card-action">
          <span class="grey-text right" ><%=  conversation.messages.last.created_at.strftime("%m/%d/%Y") %></span>
              <span class=""><%= link_to "View Conversation", conversation_path(conversation)%></span>
        </div>  
      </div>  
    </div>  

 
 
 


