<%= form_for :conversation, url: :conversations do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <%= f.text_field :recipients, placeholder: "Type the recipient's e-mail address here", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>



<!-- <center>
<%= form_for :conversation, url:{:action => 'create'} do |p| %>
      
      <%= p.label "Title" %> <br>
      <%= p.text_field :subject, :size => 40 %> <br>
      <%= p.label "Content" %> <br>
      <%= p.text_area :body %><br>
      <%= p.label "e-mail" %> <br>
      <%= p.text_field :recipients %><br>
        <%= p.submit "Submit"%><br>
  <% end %>
</center> -->


