<center>
<div class="row">
  <div class="spacer"></div>
  <div class="col-md-6 text-right">
    <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
    <% else %>
        <i class="material-icons">delete</i>
        <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
                    data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="spacer"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
    </div>
  </div>
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>

        <div class="input-field col s6 offset-s3">
            <%= f.text_area :body, class:"materialize-textarea", type:"text", id:"subject", rows:"2", autofocus: true%>

            <br>
            <%= f.submit "Reply", class:"btn" %>
        <% end %>
        </div>

        <br>
        <div class="clearfix"></div>
</div>
</center>

