<div class="row">
  <div class="col s6 offset-s3">
    <h2>Sign in</h2>
      <div class="row">

        <div class="card">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, class:"validate", type:"text", id:"email" %>
          <%= f.label :email , class:"", for:"email"%>
        </div>

        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">vpn_key</i>
          <%= f.password_field :password, autocomplete: "off" , class:"validate", type:"password", id:"password", pattern:"^.{8,72}$"  %>
          <%= f.label :password , class:"", for:"password"%>
        </div>

<!--    <% if devise_mapping.rememberable? -%>
          <input type="checkbox" id="remember_me" class=""/>
          <label class="" for="remember_me">Recordar sesión</label>
        <% end -%>    -->
        <div class="row">
          <div class="col s3 offset-s8">
            <div class="actions">
              <%= f.submit "Sign In", class:"btn" %>
            </div>
          </div>
          <div class="col s6 offset-s2">
              <%= render "devise/shared/links" %>
            </div>
        </div>
      <% end %>

    
      </div>
    </div>
  </div>
</div>