<div align="center">
<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :email , class:"mdl-textfield__label", for:"email"%>
    <%= f.email_field :email, class:"mdl-textfield__input", type:"text", id:"email", autofocus: true %>
  </div>

  <br />

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :password , class:"mdl-textfield__label", for:"password"%>
    <%= f.password_field :password, autocomplete: "off" , class:"mdl-textfield__input", type:"password", id:"password", pattern:"^.{8,72}$"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in champ" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>