<<<<<<< HEAD
<div class="row">
	<div class="col s12 m9 l10">
  		<h3> Question </h3>
    	<%= render partial: 'questions' %>    
    	<h3> Discussion</h3>
    	<%= render partial: 'discussion' %>
	</div>
	<center>
		<div class="col hide-on-small-only m3 l2">
			<div class="tabs-wrapper pinned" style="top: 100px;">
				<a class="waves-effect waves-light btn" href="/posts/new"><i class="material-icons left">edit</i>New Post</a>
				<br>
				<br>
				<%= link_to "Questions", posts_path %> <br><br>
				<%= link_to "Discussions", posts_path %>
			</div>


		</div>
	</center>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });
</script>
=======

  <div class="row">
    <div class="col s10 m4">
      <a class="btn red" href="/posts/new"><i class="material-icons left">edit</i>New Post</a>
    </div>
  </div>
  <div class="row">
    <div class="col s11 m10 offset-s1">
    <h3> Question </h3>
      
      <%= render partial: 'questions' %>
      
      <h3> Discussion</h3>
      <%= render partial: 'discussion' %>
    </div>

  </div>
  <script type="text/javascript">
   $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });
  </script>
>>>>>>> fixing4today
