<!DOCTYPE html>
<html>
<head>
  <title>Techforum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">
	<div id="user_nav" class="android-header mdl-layout__header mdl-layout--waterfall">
		<div class="mdl-layout__header-row">

		<span class="mdl-layout-title">
			<%= link_to 'TECHFORUM', root_path %>
		</span>
		<div class="android-header-spacer mdl-layout-spacer"></div>
		<div style="float: right;">
			<% if user_signed_in? %>
				Signed in as <%= current_user.email %> this-etc
				<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
			<% end %>
		</div>
		</div>
		<br>
	</div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>
<div>
</body>
</html>
