<!DOCTYPE html>
<html>
<head>
  <title>Techforum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">
	<div id="user_nav" class="android-header mdl-layout__header mdl-layout--waterfall">
		<div class="mdl-layout__header-row">

		<span class="mdl-layout-title">
			<%= link_to 'TECHFORUM', root_path %>
		</span>
		<div class="android-header-spacer mdl-layout-spacer"></div>
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" id="search">
			<label class="mdl-textfield__label" for="search">S E A R C H </label>
			
		</div>
		<div class="android-header-spacer mdl-layout-spacer"></div>
		<div>
			<% if user_signed_in? %>
				 <%= current_user.name %> 
				 <button id="mailbox" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">email</i>
				</button>
					<button id="user-pic" class="mdl-button mdl-js-button mdl-button--icon" style="margin-right: 1.5em;">
				<i class="material-icons">person</i>
			</button>

			<ul class="mdl-menu mdl-js-menu" for="mailbox">
				<li class="mdl-menu__item"><%= link_to "New Message", new_conversation_path, class: "btn btn-success" %></li>
				<li class="mdl-menu__item">
					<%= link_to mailbox_inbox_path do%>
						<span class="label label-danger pull-right"><%=unread_messages_count%></span>
        				<em class="fa fa-inbox fa-lg"></em>
        				<span>Inbox</span>
        			<% end %>
				</li>
				<li class="mdl-menu__item"><%= link_to "Sent", mailbox_sent_path %></li>
				<li class="mdl-menu__item"><%= link_to "Trash", mailbox_trash_path %></li>
			</ul>
			
			<ul class="mdl-menu mdl-js-menu" for="user-pic">
				<li class="mdl-menu__item"><a href="/users/edit">Settings</a></li>
				<li class="mdl-menu__item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
			</ul>

			<% else %>
				<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
			<% end %>
		
		</div>
		</div>
		<br>
	</div>

<%= yield %>
<div>
</body>
</html>
