<!DOCTYPE html>
<html>
<head>
  <title>Techforum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css
      <link type="text/css" rel="stylesheet" href="vendor/assets/stylesheets/css/materialize.css"  media="screen,projection"/>-->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="vendor/assets/javascripts/js/bin/materialize.js"></script>-->

<div class="navbar-fixed">
	<nav>
	<div class="nav-wrapper">
    	<a class="brand-logo"><%= link_to 'TECHFORUM', root_path %></a>
    	
    	
          	
      
      
    	<ul class="right hide-on-med-and-down">
    		<li><a class="dropdown-button" href="#!" data-activates="mail"><i class="material-icons">email</i></a></li>
    		<li><a class="dropdown-button" href="#!" data-activates="user"><i class="material-icons">perm_identity</i></a></li>
    	</ul>
    	
  	</div>
	</nav>
</div>
<ul id="user" class="dropdown-content center">
  <li><%= link_to "Settings", edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>  
</ul>


<ul id="mail" class="dropdown-content center">
  <li><a><i class="material-icons">queue</i><%= link_to "New Message", new_conversation_path%></a></li>
  <li><a><%= link_to mailbox_inbox_path do%>
						<i class="material-icons">markunread_mailbox</i><%=unread_messages_count%>        				
        				Inbox</a>
        			<% end %></li>  
  <li><a><i class="material-icons">call_made</i><%= link_to "Sent", mailbox_sent_path %></a></li>  
  <li><a><i class="material-icons">not_interested</i><%= link_to "Trash", mailbox_trash_path %></a></li>  
</ul>




  <!--

      		<span class="mdl-layout-title">
			<%= link_to 'TECHFORUM', root_path %>
		</span>
		<div class="android-header-spacer mdl-layout-spacer"></div>
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" id="search">
			<label class="mdl-textfield__label" for="search">S E A R C H </label>
			
		</div>
		<div class="android-header-spacer mdl-layout-spacer"></div>
		<div>
			<% if user_signed_in? %>
				 <%= current_user.name %> 
				 <button id="mailbox" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">email</i>
				</button>
					<button id="user-pic" class="mdl-button mdl-js-button mdl-button--icon" style="margin-right: 1.5em;">
				<i class="material-icons">person</i>
			</button>

			<ul class="mdl-menu mdl-js-menu" for="mailbox">
				<li class="mdl-menu__item"><i class="material-icons">control_point</i><%= link_to "New Message", new_conversation_path, class: "btn btn-success" %></li>
				<li class="mdl-menu__item">
					<%= link_to mailbox_inbox_path do%>
						<span class="label label-danger pull-right"><i class="material-icons">email</i><%=unread_messages_count%></span>
        				<em class="fa fa-inbox fa-lg"></em>
        				<span>Inbox</span>
        			<% end %>
				</li>
				<li class="mdl-menu__item"><i class="material-icons">arrow_forward</i><%= link_to "Sent", mailbox_sent_path %></li>
				<li class="mdl-menu__item"><i class="material-icons">delete</i><%= link_to "Trash", mailbox_trash_path %></li>
			</ul>
			
			<ul class="dropdown-content" for="user-pic">
				<li class="mdl-menu__item"><%= button_to "Settings", edit_user_registration_path , :class => "mdl-button mdl-js-button", :method => :get %></li>
				<li class="mdl-menu__item"><%= button_to 'Sign out', destroy_user_session_path, :class => "mdl-button mdl-js-button", :method => :delete %></li>
			</ul>

			<% else %>
				<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
			<% end %>
		
		</div>
		</div>
		<br>
	</div>-->
<center>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<%end%>
</center>
<%= yield %>
<div>
</body>
</html>
