<!DOCTYPE html>
<html>
<head>
  <title>Techforum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">


<div class="navbar-fixed">
	<nav class="indigo" role="navigation">
	<div class="nav-wrapper ">
		<ul class="left hide-on-med-and-down">
    		<a class="brand-logo"><%= link_to 'TECHFORUM', root_path %></a>
    	</ul>

    	<ul class="left hide-on-med-and-down offset-s3">
    		
        <div class="input-field">
          <input id="search" type="search" required size = "70" >
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      
    	</ul>       	
      
    <% if user_signed_in? %>    
    
    	<ul class="right hide-on-med-and-down">
    		<li><%= link_to current_user.name, edit_user_registration_path %></li>
    		<li>
    			<a class="dropdown-button" href="#!" data-activates="mail">
    				<i class="material-icons">email<span class="badge"><%=unread_messages_count%></span></i>
    				
    			</a>
    		</li>

    		<li><a class="dropdown-button" href="#!" data-activates="user"><i class="material-icons">perm_identity</i></a></li>
    	</ul>

    	<ul id="user" class="dropdown-content center">
  			<li><%= link_to "Settings", edit_user_registration_path %></li>
  			<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>  
		</ul>


		<ul id="mail" class="dropdown-content center">
  			<li><%= link_to "New Message", new_conversation_path, {:action=>"create", :controller=>"conversation"}%></li>
  			<li><%= link_to mailbox_inbox_path , {:action=>"inbox", :controller=>"mailbox"} do%>
        				Inbox
        		<% end %>
        	</li>  
  			<li><%= link_to "Sent", mailbox_sent_path, {:action=>"sent", :controller=>"mailbox"} %>
  			</li>  
  			<li><%= link_to "Trash", mailbox_trash_path, {:action=>"trash", :controller=>"mailbox"} %></li>  
		</ul>

    <% else %>	
    <script type="text/javascript">
		$(".dropdown-button").dropdown();        
    </script>
    <ul class="right hide-on-med-and-down">
		<li><%= link_to 'Register', new_user_registration_path %></li> 
		
		<li><%= link_to 'Sign in', new_user_session_path %></li>
	</ul>
	<% end %>
    	
  	</div>

	</nav>
</div>
<center>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<%end%>
</center>
<%= yield %>
<div>
</body>
</html>
